.cards {
  display: flex;
  max-width: 1366px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 81px 98px;

  @media screen and(max-width: 799px) {
    padding: 3%;
    text-align: center;
  }

  &__title {
    margin: 0;
    font-family: $fontPlayfair;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px
  }

  &__link {
    font-family: $fontRoboto;
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #444240;
    text-decoration: none;
    padding-bottom: 1%;
    border-bottom: 1px solid #C4C0B6;
    transition: 0.7s ease-in-out;

    &:hover {
      opacity: 0.5;
      transition: 0.7s ease-in-out;
    }

    @media screen and(max-width: 799px) {
      margin: 15px 0 0 0;
    }
  }

  &__container {
    display: flex;
    max-width: 1170px;
    width: 100%;
    gap: 3%;

    @media screen and(max-width:799px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  }
}