.contact {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and(max-width: 549px) {
    display: flex;
    align-items: center;
  }

  &__tel {
    font-family: $fontRoboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    margin-top: 32px;

    @media screen and(max-width: 549px) {
      margin-top: 15px;
    }
  }

  &__email {
    font-family: $fontRoboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    margin-top: 15px;
  }
}