.button {
  border: none;
  width: 205px;
  height: 64px;
  font-family: $fontRoboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0;
  cursor: pointer;

  &_color-gray {
    background-color: #444240;
    color: #FFFFFF;
  }

  &_color-cream {
    background-color: #D4B098;
    color: #FFFFFF;
  }
}